# Raspberry Pi RP20XX MCU line

# Copyright (c) 2021 Nordic Semiconductor ASA
# Copyright (c) 2021 Yonatan Schachter
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RP20XX || SOC_SERIES_RP23XX

rsource "Kconfig.defconfig.rp2*"

config NUM_IRQS
	default 26 if SOC_SERIES_RP20XX
	default 54 if SOC_SERIES_RP23XX

endif # SOC_SERIES_RP20XX || SOC_SERIES_RP23XX
